<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>knutime</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Animated-numbers-section1.css">
    <link rel="stylesheet" href="assets/css/nav-sticky-top.css">
    <link rel="stylesheet" href="assets/css/portlet.css">
    <link rel="stylesheet" href="assets/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/timetable.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="index.html">KnuTime </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="table.html"><i class="glyphicon glyphicon-calendar"></i> 모의시간표</a></li>
                    <li role="presentation"><a href="rating.html"><i class="glyphicon glyphicon-pencil"></i> 강의평가 </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="join.html">회원가입 </a></li>
                    <li role="presentation"><a href="login.html"><i class="glyphicon glyphicon-log-in"></i> 로그인 </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background-color:#f1f3fa;padding:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding:0px">
                    <div class="portlet">
    <div class="portlet-title">
        <div class="caption caption-red">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="caption-subject text-uppercase">동물생리학</span>
            <span class="caption-helper">20172</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-xs btn-toggle pull-right">
                <button class="btn btn-info btn-action active" data-toggle="tab" data-target="#a">개요</button>
                <button class="btn btn-info btn-action" data-toggle="tab" data-target="#b">강의계획서</button>
                <button class="btn btn-info btn-action" data-toggle="tab" data-target="#c">강의스케쥴</button>
            </div>
        </div>
    </div>
    <div class="portlet-body tab-content">
        <div class="tab-pane active" id="a">
            <h4>손종경 교수님</h4>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>개설대학</td>
                            <td>
                                생물학전공
                            </td>
                        </tr>
                        <tr>
                            <td>교과구분</td>
                            <td>
                                전공
                            </td>
                        </tr>
                        <tr>
                            <td>학점</td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>수업시간</td>
                            <td>
                                화8B9A9B/목8B9A9B
                            </td>
                        </tr>
                        <tr>
                            <td>언어</td>
                            <td>
                                한국어
                            </td>
                        </tr>
                        <tr>
                            <td>강의실</td>
                            <td>
                                생물학관318
                            </td>
                        </tr>
                        <tr>
                            <td>면담시간</td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>이메일/연락처</td>
                            <td>
                                ** 통합정보시스템 로그인- 수업-성적- 수업- "강의담당교수조회"에서 확인 가능함.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- panel A end -->
        <div class="tab-pane" id="b">
            <div class="panel-group" id="accordion_reg" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne_reg">
                        <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseOne_reg" aria-expanded="true" aria-controls="collapseOne_reg">
                                            강의개요 및 목적
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseOne_reg" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_reg">
                        <div class="panel-body">
                            This course provides students with an understanding of how animals adapt physiologically to environmental challenge and addressed the basic physical and chemical principles that underlie physiological processes. Several biological systems are considered including transport through plasma membrane, signal transduction, nervous, endocrine, and muscle.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo_reg">
                        <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseTwo_reg" aria-expanded="false" aria-controls="collapseTwo_reg">
                                            교재 및 참고문헌
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseTwo_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_reg">
                        <div class="panel-body">
                            Essentials of Physiology, Korean Language Edition, Shin-Sung Kang et al., 2013, 4h Edition, Science plus (Cengage Learning, ISBN-20: 92017-08-19 13:00:003-63-8)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree_reg">
                        <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseThree_reg" aria-expanded="false" aria-controls="collapseThree_reg">
                                            강의진행 방법 및 활용매체
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseThree_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_reg">
                        <div class="panel-body">
                            Introduction to the physical and chemical principles governing the lives of animals. Methods : Oral presentation
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour_reg">
                        <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseFour_reg" aria-expanded="false" aria-controls="collapseFour_reg">
                                            과제, 평가방법, 선수과목
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseFour_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_reg">
                        <div class="panel-body">
                            The two exams, mid-term and final, will cover lectures given in class and pertinent information from the textbook.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive_reg">
                        <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseFive_reg" aria-expanded="false" aria-controls="collapseFive_reg">
                                            수강에 특별히 참고할 사항
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseFive_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive_reg">
                        <div class="panel-body">
                            There is no policy of required attendance. However, it is unlikely that you will earn an acceptable grade if you do not attend class regularly. Reading the material in the textbook beforehand will help you better understand the lecture. Shortly after each lecture you should read the material in the textbook to make sure that you fully understand the material that was covered.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix_reg">
                        <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseSix_reg" aria-expanded="false" aria-controls="collapseSix_reg">
                                            장애학생을 위한 학습지원 사항
                                        </a>
                                    </h4>
                    </div>
                    <div id="collapseSix_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix_reg">
                        <div class="panel-body">
                            A. Hearing Impaired : first row priority seating, Class transcripts may also be provided. B. Develpmenatlly Challenged : Extended Test Period C. Brain lesions : Extended Test Period, Class transcripts may also be provided D. Visually Impaired : Larger Font test will be provided Other : Aid offered dependant on specific disabilities C. Brain lesions : Extended Test Period, Class transcripts may also be provided D. Visually Impaired : Larger Font test will be provided Other : Aid offered dependant on specific disabilities
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- panel B end -->
        <div class="tab-pane" id="c">
            <h5>작업중</h5>
        </div>
        <!-- panel C end -->
    </div>
</div>
                </div>
                <div class="col-md-6">
                    <div class="portlet">
    <div class="portlet-title">
        <div class="caption caption-purple">
            <i class="glyphicon glyphicon-pencil"></i>
            <span class="caption-subject text-uppercase">강의평가</span>
            <span class="caption-helper">이 강의에 대해 궁금한 점이나 할 말을 남겨주세요.</span>
        </div>
    </div>
    <div class="portlet-body portlet-rating">
        <div class="row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <div class="course-review">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <div class="course-review">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <div class="course-review">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <div class="course-review">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <div class="course-review">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <span class="rating-heading">
                <i class="glyphicon glyphicon-pencil"></i><span> 강의평 남기기</span>
            </span>

        </div>
        <div class="row rating-row">
            <div class="col-md-3">
                <span>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star star"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
					<i class="glyphicon glyphicon-star unstar"></i>
				</span>
            </div>
            <div class="col-md-9">
                <form class="search-form">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="과목명 or 교수명">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">Search </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="portlet-foot">
        <div class="row recent-rating-bottom">
            <ul class="pagination">
                <li>
                    <a aria-label="Previous">
            			<span aria-hidden="true">«</span>
            		</a>
                </li>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
                <li>
                    <a>5</a>
                </li>
                <li>
                    <a aria-label="Next">
            			<span aria-hidden="true">»</span>
            		</a>
                </li>
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-numbers-section.js"></script>
    <script src="assets/js/timetable.js"></script>
</body>

</html>