.container-timetable {
  width:100%;
  padding-top:30px;
}

.container.conatiner-rating {
  padding-top:30px;
  width:100%;
}

.panel-title {
  font-weight:600;
}

.course-rating-list-group {
  height:80px;
}

.course-list-name {
  color:#b33c00;
  font-weight:600;
  margin:5px 0;
}

.unstar {
  color:#ffeecc;
}

.star {
  color:#ffaa00;
}

.course-semester {
  color:#bcb8c6;
  margin-left:15px;
}

.carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item > a > img, .carousel-inner > .item > img {
  max-height:500px;
  min-height:200px;
}

.carousel-inner > .item > img {
  height:100%;
}

.item > img {
  width:100%;
}

.list-group-item:hover {
  background-color:rgba(242, 242, 242, 0.6);
  cursor:pointer;
}

